@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('/navbar.scss');

* {
    &,
    &::before,
    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    background: url('./public/dark_wood_2k.jpg');
    color: white;
    font-family: 'Playfair Display', cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-weight: 800;
}

.gold {
    color: gold;
}

.italic {
    font-style: italic;
}

@property --first {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --last {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

#loading-screen {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) var(--first),
        rgba(0, 0, 0, 1) var(--last)
    );

    @keyframes fadeOut {
        0% {
            --first: -100%;
            --last: 0%;
        }
        100% {
            --first: 100%;
            --last: 200%;
        }
    }

    &.fadeOut {
        pointer-events: none;
        animation: fadeOut 1s linear forwards;
    }
}
