#navbar-container {
    position: fixed;
    inset: 0;
    bottom: initial;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: visible;
    //pointer-events: none;
    #navbar {
        $outline-offset: 10px;
        background: url('/public/dark_wood_2k.jpg');
        background-size: 400px;
        width: 90%;
        height: 100%;
        position: relative;
        box-shadow: 0 0 20px black;

        .wrapper {
            border-top: none;
            position: absolute;
            inset: $outline-offset;
            top: 0;
            display: flex;
            justify-content: space-between;
            padding: 10px;

            &::before {
                content: '';
                mix-blend-mode: difference;
                outline: hsla(17, 62%, 26%, 0.4) solid 5px;
                position: absolute;
                inset: 0;
                display: block;
                top: -100%;
                pointer-events: none;
            }

            .left,
            .right {
                $hover-brightness: 120%;
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 20px;
                position: relative;
                & > * {
                    display: block;
                }
                .logo {
                    height: 100%;
                    max-width: 100%;
                    background: none;
                    border: none;
                    transition: all 0.2s ease-in-out;

                    img {
                        height: 100%;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        filter: blur(20px);
                        transition: all 0.2s ease-in-out;
                        z-index: -1;
                    }
                    &:hover::before {
                        background: rgba(255, 255, 255, 0.1);
                    }
                }
                .link {
                    $round-3d: 3px;
                    font-size: 1.5rem;
                    color: white;
                    text-decoration: none;
                    background: url('/public/dark_wood_2k.jpg');
                    background-size: 400px;
                    height: 100%;
                    padding: 0 30px;
                    display: flex;
                    align-items: center;
                    box-shadow: 0 0 10px black;
                    position: relative;
                    animation: hover-out 0.2s both ease-in-out;
                    border-radius: $round-3d;

                    &:hover {
                        animation: hover-in 0.2s both ease-in-out;
                    }

                    @keyframes hover-in {
                        0% {
                            box-shadow: 0 0 10px black;
                            filter: brightness(100%);
                        }
                        50% {
                            box-shadow: 0 0 0px black;
                        }
                        50% {
                            box-shadow: 0 0 0px black inset;
                        }
                        100% {
                            box-shadow: 0 0 10px black inset;
                            filter: brightness($hover-brightness);
                        }
                    }

                    @keyframes hover-out {
                        0% {
                            box-shadow: 0 0 10px black inset;
                            filter: brightness($hover-brightness);
                        }
                        50% {
                            box-shadow: 0 0 0px black inset;
                        }
                        50% {
                            box-shadow: 0 0 0px black;
                        }
                        100% {
                            box-shadow: 0 0 10px black;
                            filter: brightness(100%);
                        }
                    }

                    &::before {
                        content: '';
                        border-radius: $round-3d;
                        mix-blend-mode: difference;
                        outline: hsla(17, 62%, 26%, 0.4) solid 3px;
                        outline-offset: -10px;
                        position: absolute;
                        inset: 0;
                    }

                    &::after {
                        content: '';
                        border-radius: $round-3d;
                        box-shadow: 0 0 $round-3d black inset;
                        position: absolute;
                        inset: 0;
                    }

                    &.main {
                        background: url('/public/casino_carpet_1k.jpg');
                        &::before {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

@media (width <= 600px) {
    #navbar {
        width: 100% !important;
        .wrapper {
            left: 0;
            right: 0;
        }
        .logo img {
            content: url('/public/logo-min.svg');
        }
    }
}
