* {
    &,
    &::before,
    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@media (width <= 600px) {
    .parallax-back {
        &,
        &::before,
        &::after {
            transform: translateZ(-100px) scale(2) translateY(-15dvh) !important;
        }
    }

    .hero {
        height: 70dvh !important;
    }
}

.parallax {
    perspective: 100px;
    width: 100%;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-section {
    position: relative;
    transform-style: preserve-3d;
}

.parallax-layer {
    &,
    &::before,
    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.parallax-back {
    &,
    &::before,
    &::after {
        transform: translateZ(-100px) scale(2);
    }
}

.hero {
    height: 100dvh;

    .background {
        width: 110%;
        height: 100%;
        object-fit: cover;
    }

    .plaque-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .plaque {
            max-width: 90%;
            width: 1500px;
        }
    }
}

.info {
    height: 100dvh;
    box-shadow: 0 0 100px black;

    .background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .shadow {
        width: 100%;
        height: 100%;
        background: radial-gradient(#00000000, #00000080);
    }

    .carpet-container {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 150px;
        justify-content: center;

        .carpet {
            background: url('./casino_carpet_1k.jpg');
            background-repeat: repeat;
            width: 450px;
            box-shadow: 0 0 50px #00000080;
            position: relative;
            $outline-offset: 20px;
            padding: 20px + $outline-offset;

            &::before,
            &::after {
                content: '';
                width: 2px;
                background: gold;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
            }
            &::before {
                left: $outline-offset;
            }
            &::after {
                right: $outline-offset;
            }
        }
    }
}
