@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
$width: 200px;

* {
    &,
    &::before,
    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    padding: 10px;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    font-family: 'SUSE', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.audioContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    height: 7.5%;
    .discIcon {
        height: 100%;
        animation: discSpin 5s linear infinite;
        cursor: pointer;
    }
    #text > span.letter {
        display: inline-block;
        animation: float 3s ease-in-out infinite,
            rainbow 10s linear infinite backwards,
            slideIn 1s ease-out backwards 0s;
    }
    #text > span.dot {
        display: inline-block;
        animation: float 3s ease-in-out infinite backwards;
    }
}

.whitespace {
    display: initial !important;
}

#meow {
    position: absolute;
    bottom: 0;
    left: -1%;
    width: $width;
    animation: meowSlide 10s linear infinite alternate;
}

@media (width <= 600px) {
    #meow {
        animation-duration: 5s !important;
    }
}

@keyframes meowSlide {
    0% {
        left: -1%;
    }
    100% {
        left: calc(100% - $width);
    }
}

@keyframes discSpin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slideIn {
    0% {
        filter: opacity(0%);
        transform: translateX(50px) translateY(0px);
    }
    100% {
        filter: opacity(100%);
        transform: translateX(0px) translateY(5px);
    }
}

@keyframes float {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}

@keyframes rainbow {
    0% {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}
